.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.auth-card {
  background: var(--section-bg);
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 25px var(--glass);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  margin-bottom: 15px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background: transparent;
  color: var(--text-main);
}

.password-box {
  position: relative;
}

.toggle-pass {
  position: absolute;
  right: 12px;
  top: 65%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  transition: 0.2s;
}

.toggle-pass:hover {
  color: var(--primary);
}

.btn-primary {
  width: 100%;
  padding: 10px;
  background: var(--primary);
  color: #fff;
  border: none;
  border-radius: 8px;
}

.alert-error {
  background: var(--danger);
  color: #8a010a;
  padding: 8px;
  margin-bottom: 10px;
}

.alert-success {
  background: var(--success);
  color: #287e01;
  padding: 8px;
  margin-bottom: 10px;
}
.text-danger {
  color: var(--danger);
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.alert-error ul {
  margin: 0;
  padding-left: 15px;
}

/* for success popup */
.success-popup {
  background: transparent !important;
  box-shadow: none !important;
}

.success-wrapper {
  text-align: center;
  padding: 30px;
  background: var(--section-bg);
  border-radius: 16px;
  animation: fadeIn 0.4s ease;
}

/* Circle Animation */
.success-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--accent);
  margin: 0 auto 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: popIn 0.5s ease;
}

/* Checkmark */
.checkmark {
  width: 25px;
  height: 50px;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  transform: rotate(45deg) scale(0);
  animation: checkDraw 0.4s ease forwards;
  animation-delay: 0.3s;
}

/* Text */
.success-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.success-text {
  font-size: 14px;
  color: var(--text-muted);
}

/* Animations */
@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes checkDraw {
  to {
    transform: rotate(45deg) scale(1);
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}