 /* =------------style for index manage file----------------------- */
    .manage-card {
      max-width: 1200px;
      margin: auto;
      background: var(--section-bg);
      backdrop-filter: blur(15px);
      border: 1px solid var(--border-color);
      border-radius: 18px;
      padding: 35px;
    }

    .card-header h2 {
      color: var(--primary);
      margin-bottom: 5px;
    }

    .card-header p {
      color: var(--text-muted);
      font-size: 14px;
      margin-bottom: 25px;
    }

    .table-wrapper {
      overflow-x: auto;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      min-width: 900px;
    }

    th,
    td {
      padding: 10px;
      text-align: left;
      font-size: 14px;
    }

    th {
      background: var(--glass);
      color: var(--primary-light);
    }

    tr {
      border-bottom: 1px solid var(--border-color);
    }

    tr:hover {
      background: var(--glass);
    }

    .status-active-badge{
      background-color: #47df0031;
      color: #287e01;
      padding: 4px 16px;
      border-radius: 50px;
    }
    .status-inactive-badge{
      background-color: #e1041329;
      color: #8a010a;
      padding: 4px 16px;
      border-radius: 50px;
    }

    .action-icons {
      display: flex;
      gap: 10px;
    }

    .icon-btn {
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      text-decoration: none;
      font-size: 15px;
      transition: 0.3s ease;
    }

    .view-icon {
      background: rgba(89, 159, 197, 0.15);
      color: var(--primary);
    }

    .view-icon:hover {
      background: var(--primary);
      color: white;
      transform: translateY(-2px);
    }

    .edit-icon {
      background: rgba(197, 89, 186, 0.15);
      color: var(--accent);
    }

    .edit-icon:hover {
      background: var(--accent);
      color: white;
      transform: translateY(-2px);
    }

    .delete-icon {
      background: rgba(255, 82, 82, 0.15);
      color: #ff5252;
    }

    .delete-icon:hover {
      background: #ff5252;
      color: #fff;
      transform: translateY(-2px);
    }


    /* Responsive */
    @media(max-width:768px) {
      .manage-card {
        padding: 20px;
      }

      th,
      td {
        padding: 8px;
        font-size: 13px;
      }
    }

    /* Hide mobile cards on desktop */
.manage-mobile-cards {
  display: none;
}

/* MOBILE CARD DESIGN */
@media (max-width: 768px) {

  .table-wrapper {
    display: none;
  }

  .manage-mobile-cards {
    display: block;
  }

  .manage-card {
    background: var(--section-bg);
    border: 1px solid var(--border-color);
    border-radius: 14px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  }

  .card-body div {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px dashed var(--border-color);
  }

  .card-body span {
    font-size: 12px;
    color: var(--text-muted);
  }

  .card-body p {
    font-size: 13px;
    color: var(--text-main);
    margin: 0;
    font-weight: 500;
  }

  .card-actions {
    display: flex;
    gap: 10px;
    margin-top: 12px;
  }

  .card-actions .icon-btn {
    flex: 1;
  }
}

/* pagination style */
    .pagination .page-link {
        border-radius: 6px;
        margin: 0 3px;
    }

    .pagination .page-item.active .page-link {
        background-color: var(--primary-light);
    }

    /* success or error massege */
    .alert-error {
      background: var(--danger);
      color: #8a010a;
      padding: 8px;
      margin-bottom: 10px;
    }

    .alert-success {
      background: var(--success);
      color: #287e01;
      padding: 8px;
      margin-bottom: 10px;
    }
/* ------------------------style for create page============================== */
.form-card {
    background-color: var(--section-bg);
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(49, 49, 255, 0.15);
    padding: 2.5rem 3rem;
    max-width: 550px;
    width: 100%;
    margin: auto;
    border: 1px solid var(--border-color);
    backdrop-filter: blur(10px);
    animation: fadeInUp 0.8s ease;
  }

  .form-card h2 {
    text-align: center;
    color: var(--primary);
    font-weight: 700;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  label {
    color: var(--text-main);
    font-weight: 500;
    margin-bottom: 0.3rem;
    font-size: 0.95rem;
    margin-top: 10px;
    display: block;
  }

  .input-form {
    width: 100%;
    padding: 0.8rem 1rem;
    background-color: var(--background);
    color: var(--text-main);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    font-size: 0.95rem;
    transition: all 0.3s ease;
  }

  .input-form:focus {
    border-color: var(--primary);
    box-shadow: 0 0 10px rgba(49, 49, 255, 0.3);
    outline: none;
  }

  .input-form option {
        background: #fff;
        /* force white */
        color: #000;
        /* readable text */
    }

  input[type="file"] {
    border: 1px dashed var(--primary);
    padding: 0.5rem;
    cursor: pointer;
    background: var(--primary-soft);
  }

  input[type="file"]::file-selector-button {
    background: var(--primary);
    color: var(--white);
    border: none;
    padding: 0.4rem 0.9rem;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  input[type="file"]::file-selector-button:hover {
    background: var(--primary-light);
    color: var(--white);
  }
  
.photo-upload {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 15px 0px;
    margin-top: 8px;
    border-radius: 12px;
}
.upload-left {
    flex: 1;
}
.upload-right {
    width: 90px;
    height: 90px;
}
.preview-box {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 2px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.preview-box i {
    font-size: 40px;
    color: var(--border-color);
}
.preview-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

  .error-text {
    color: var(--danger);
    font-size: 0.85rem;
    margin-top: 0.3rem;
  }

  .btn-submit {
    background: linear-gradient(90deg, var(--primary), var(--accent));
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 0.9rem;
    width: 100%;
    margin-top: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
    letter-spacing: 1px;
    box-shadow: 0 4px 15px rgba(49, 49, 255, 0.3);
  }

  .btn-submit:hover {
    transform: translateY(-2px);
    background: linear-gradient(90deg, var(--accent), var(--primary-light));
}

.btn-submit:active {
    transform: translateY(1px);
    background: #39aff8;
    border: 1px solid #e81efa;
}
  
  @media(max-width:768px) {
    .form-card {
      padding: 1.8rem;
    }

    label {
      font-size: 0.9rem;
    }

    .input-form {
      padding: 0.6rem 0.8rem;
      font-size: 0.8rem;
    }

    input[type="file"] {
      padding: 0.4rem;
    }

    input[type="file"]::file-selector-button {
      padding: 0.4rem 0.9rem;
      border-radius: 5px;
      font-size: 0.8rem;
    }

    .btn-submit {
      padding: 0.7rem;
      font-size: 0.9rem;
    }
  }


  /* ---------------------style for show information--------------------------- */
  .show-head {
        text-align: center;
        font-size: 1.5rem;
        color: var(--accent);
    }

    .show-card {
        width: 100%;
        max-width: 500px;
        height: auto;
        margin: auto;
        background: var(--section-bg);
        border-radius: 30px;
        position: relative;
        z-index: 10;
        overflow: hidden;
        border: 1px solid var(--glass);
        box-shadow: 3px 20px 60px 0px rgba(255, 255, 255, 0.69);
        display: flex;
        flex-direction: column;
    }

    .header-accent {
        height: 140px;
        width: 120%;
        left: -10%;
        top: -30px;
        background: linear-gradient(135deg, var(--primary) 0%, var(--accent) 100%);
        position: relative;
        display: flex;
        border-radius: 50%;
        justify-content: center;
    }

    .photo-container {
        position: absolute;
        bottom: -50px;
        width: 120px;
        height: 120px;
        overflow: hidden;
        border-radius: 50%;
        background: var(--section-bg);
        padding: 6px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    }

    .square-photo-container{
      position: absolute;
        bottom: -50px;
        width: 230px;
        height: 130px;
        overflow: hidden;
        border-radius: 8px;
        background: var(--section-bg);
        padding: 6px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    }

    .photo-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .square-photo-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content-area {
        flex: 1;
        padding: 35px 30px 20px;
        text-align: center;
    }

    .show-name {
        font-size: 2rem;
        font-weight: 800;
        color: var(--text-main);
        margin: 0;
    }

    .rank-pill {
        display: inline-block;
        margin-top: 8px;
        padding: 4px 16px;
        background: var(--primary-soft);
        color: var(--primary);
        border-radius: 50px;
        font-size: 0.75rem;
        font-weight: 700;
    }

    .info-list {
        margin-top: 30px;
        text-align: left;
        background: var(--background);
        border-radius: 24px;
        padding: 15px;
        border: 1px solid var(--border-color);
    }

    .info-group {
        display: flex;
        justify-content: space-between;
        padding: 9px 0;
        border-bottom: 1px solid var(--border-color);
    }

    .info-group:last-child {
        border: 0;
    }

    .i-label {
        color: var(--primary);
        font-size: 0.8rem;
    }

    .i-value {
        color: var(--text-main);
        font-size: 0.8rem;
    }

    .statement {
      width: 100%;
        margin-top: 25px;
        padding: 15px;
        background: var(--glass);
        border-radius: 18px;
        border-left: 4px solid var(--accent);
    }

    .statement-text {
        word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
        font-size: 0.8rem;
        color: var(--text-muted);
        font-style: italic;
    }

    .card-footer-actions {
        padding: 20px;
        text-align: center;
        background: var(--border-color);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .brand-text {
        color: #fff;
        font-weight: 900;
        font-size: 0.9rem;
        letter-spacing: 2px;
    }
    .back-btn {
    margin: auto;
    display: inline-block;
    margin-top: 25px;
    padding: 10px 32px;
    background: var(--primary);
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: .3s;
  }

  .back-btn:hover {
    background: var(--primary-light);
  }
    @media (max-width: 480px) {
        .show-card {
            max-width: 100%;
            border-radius: 25px;
        }

        .header-accent {
            height: 140px;
            width: 120%;
            left: -10%;
            top: -30px;
        }

        .content-area {
            padding: 32px 15px 15px;
        }

        .name {
            font-size: 1.5rem;
        }

        .info-list {
            padding: 15px;
        }

        .photo-container {
            width: 100px;
            height: 100px;
            bottom: -50px;
        }
        .square-photo-container {
            width: 160px;
            height: 100px;
            bottom: -50px;
        }
    }